/* font-family: 'DM Serif Display', serif;
font-family: 'Merriweather', serif; */

:root{
    --platinum: #d8dbe2;
    --bluchiaro: #A9BCD0;
    --verde: #8cc5c2;
    --bluscuro: #373f51;
    --black: #1b1b1e;
}


*{
    font-family: 'Merriweather', serif; 
    
}

body{
    background-color: var(--platinum);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Display', serif;
};

.bplatinum{
    background-color: var(--platinum) !important;
}
.bbluc{
    background-color: var(--bluchiaro) !important;
}
.bblus{
    background-color: var(--bluscuro) !important;
}
.bblack{
    background-color: var(--black) !important;
}
.bverde{
    background-color: var(--verde) !important;
}
.platinum{
    color: var(--platinum) !important;
}
.bluc{
    color: var(--bluchiaro) !important;
}
.blus{
    color: var(--bluscuro) !important;
}
.black{
    color: var(--black) !important;
}
.verde{
    color: var(--verde) !important;
}

.logocustom{
    height: 50px;
    width: 60px;
}

.riempitivo{
    width: 60px;
}

.navbar{
    height: 170px;
    transition: 0.6s;
}

ul{
    transition: 0.6s;
}

.animazione{
    transform: rotate(360deg)
    
}
.animazione{
    transition: 1s;
    
}

.margin{
    margin-top: 300px;
}

.titolo{
    font-size: 90px;
}

.imgSfondo{
    transition-duration: 0.6s;
}

.w3-animate-right{
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}
.w3-animate-left{
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.w3-animate-opacity{
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.bordon{
    border: 3px solid var(--black);
}
.bordov{
    border: 3px solid var(--verde);
}
.bordo{
    transition: 0.36s;
}
.cardAnnunci{
    border: 1px solid var(--bluscuro) ;
    border-radius: 25px;
}
.imgAnnunci{
    border-radius: 25px 25px 0px 0px ;
    border-bottom: 3px solid var(--verde);
    padding-bottom: 2%;
}
.line{
    border-radius: 25px 25px 0px 0px ;
    border-bottom: 3px solid var(--verde);
    padding-bottom: 1%;
}
.b-card{
    background: rgb(216,219,226);
    background: radial-gradient(circle, rgba(216,219,226,1) 17%, rgba(140,197,194,0.654131635564382) 100%);
}



#review{
    position: relative;
    height: 100%;
}

#review {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#review {
    background: var(--platinum);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#review {
    position: relative;
    height: 100%;
}

#review {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide {
    background-color: var(--verde);
}

.ann-header{
    height: 50vh;
    background-image:url(./media/img-sfondo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ann-card{

    height: 250px;
    
    border: 2px solid var(--bluscuro);
    background-color: var(--bluchiaro);
    color: var(--w);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
.altro:hover{
    color: var(--bluchiaro);
    background-color: var(--bluscuro);
    border: 2px solid var(--black);
    border-radius: 25px;
    
    padding-left: 20px;
    padding-right: 20px;
}

.accordion-button:not(.collapsed) {
    color: var(--black) !important;
    background-color: var(--bluchiaro) !important;
}
.accordion-button {
    color: var(--black) !important;
    background-color: var(--bluchiaro) !important;
}

.accordion-item {
    border: #A9BCD0;
    background-color: #A9BCD0;
    font-size: smaller;
}

.button:focus {
    outline-color: transparent;

}